version: "3.8"

services:
  redis:
    image: redis:7-alpine
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"
    networks:
      - backend

  web:
    build: .
    command: >
      sh -c "
      uv run python manage.py migrate &&
      uv run gunicorn core.wsgi:application --bind 0.0.0.0:8000
      --reload
      "
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - ./db.sqlite3:/app/db.sqlite3
    env_file:
      - .env
    environment:
      DATABASE_URL: sqlite:///db.sqlite3
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/0
    networks:
      - backend

  celery:
    build: .
    command: uv run celery -A core worker -l info
    volumes:
      - ./db.sqlite3:/app/db.sqlite3
    env_file:
      - .env
    environment:
      DATABASE_URL: sqlite:///db.sqlite3
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/0
    restart: unless-stopped
    networks:
      - backend
    depends_on:
      - redis
      - web

  celery-beat:
    build: .
    command: uv run celery -A core beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    volumes:
      - ./db.sqlite3:/app/db.sqlite3
    env_file:
      - .env
    environment:
      DATABASE_URL: sqlite:///db.sqlite3
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/0
    restart: unless-stopped
    networks:
      - backend
    depends_on:
      - redis
      - web

  flower:
    build: .
    command: uv run celery -A core flower --port=5555
    ports:
      - "5555:5555"
    depends_on:
      - redis
      - celery
    environment:
      CELERY_BROKER_URL: redis://redis:6379/0
    networks:
      - backend

  nginx-proxy-manager:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: nginx-proxy-manager
    ports:
      - 80:80
      - 81:81
      - 443:443
    volumes:
      - ./nginx-proxy-manager/data:/data
      - ./nginx-proxy-manager/letsencrypt:/etc/letsencrypt
    restart: unless-stopped
    networks:
      - backend


networks:
  backend:
    driver: bridge

volumes:
  redis_data:
  sqlite_data:
